$ivy: #1E9382;
.ivy { color: $ivy; }
.bg-ivy { background-color: $ivy }

$forest: #70A758;
.forest { color: $forest; }
.bg-forest { background-color: $forest }

$beige: #EFF1C2;
.beige { color: $beige; }
.bg-beige { background-color: $beige }

$red: #F0563D;
.red { color: $red; }
.bg-red { background-color: $red; }

$blue: #2E313D;
.blue { color: $blue; }
.bg-blue { background-color: $blue; }

$white: #ffffff;
.white { color: $white; }
.bg-white { background-color: $white; }

$black: #111111;
.black { color: $black; }
.bg-black { background-color: $black; }
