// Variables //
$seafoam: #2eb298;
$purple: #5a18bc;
$white: #ffffff;
$black: #111111;

$cursive: 'Indie Flower', cursive;

// Styles
html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
body {
  background-color: $seafoam;
}

.container {
  display: block;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-image: url('/img/fishbowl.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  padding-top: 10%;
  font-family: $cursive;
  font-size: 60px;
  color: $white;
  text-align: center;
}

.fishbowl {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.big-red-button {
  width: 250px;
  height: 250px;
  margin-top: 250px;
  border: 0px;
  border-radius: 50%;
  color: $white;
  background-color: $purple;
  font-family: $cursive;
  font-size: 42px;
  &:focus, &:hover, &:active {
    outline: 0px;
    background-color: darken($purple, 10%);
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  &.active {
    display: block;
    @include rgba-background(rgba(0,0,0,0.75));
  }
}

.modal {
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: 25% auto;
  padding: 25px;
  border-radius: 4px;
  background-color: $white;

  h1 {
    font-size: 24px;
    &.span {
      font-size: 18px;
    }
  }
  .rating {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $purple;
    color: $white;
    font-size: 20px;
    line-height: 1.7;
  }
  .description {
    margin: 15px auto;
    line-height: 1.6;
  }
  .btn {
    float: right;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: $seafoam;
    color: $white;
    text-decoration: none;
    &:focus, &:hover, &:active {
      background-color: darken($seafoam, 10%);
      text-decoration: none;
    }
  }

}

